.style {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  min-width: 1000px;
  width: min-content;
}

.content {
  display: flex;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
  justify-content: center;
  justify-items: center;
  background: transparent;
  gap: 1em;
  padding: 1em;
  position: relative;
  width: 100%;
}

.spacer {
  background: #ababab;
  width: 4px;
  height: 90%;
  top: 50%;
  translate: -50%;
}

@media screen and (max-width: 1067px) {
  .style {
    justify-content: flex-start;
  }
}
