.style {
  display: flex;
  padding: 1em 0;
  gap: 20px;
  padding: 20px;
  position: sticky;
  justify-content: center;
  bottom: 0;
  backdrop-filter: blur(10px);
}

@media screen and (max-width: 1067px) {
  .style {
    position: sticky;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
  }
}
