.style {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 600px;
  border-left: 1px solid #bbbbbb;
  padding: 0 3em;
}

.header {
  display: flex;
  flex-direction: column;
}

.header p {
  text-align: center;
  font-size: 16px;
}

.group {
  display: flex;
  width: 100%;
  gap: 5px;
}

.link {
  color: #2b2b69;
  cursor: pointer;
}
