.style {
  display: flex;
  width: 100%;
  position: relative;
}

.action {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
  margin-top: 20px;
}

.actionBtn {
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trashIcon {
  border: 1px solid #ff5761;
  border-radius: 100%;
  padding: 3px;
}

.trashIcon path {
  color: #ff5761;
}

.checkBox path {
  color: #40106b;
}
